<!-- .container.mt-3.border.p-3 -->
<div class="container mt-3 border p-3">
  <!-- button[type=button].btn.btn-primary{Adicionar} -->
  <!-- .form-group>label[for=nomeInput]{Nome} -->
  <div class="form-group">
    <label for="nomeInput">Nome</label>
    <!-- input[type=text].form-control#nomeInput[placeholder="Digite seu nome"] -->
    <input 
      type="text"
      (input)="alterarNome($event)" 
      class="form-control" 
      id="nomeInput" 
      placeholder="Digite seu nome">
  </div>
  <button 
    type="button" 
    class="btn btn-primary w-100 mt-3"
    (click)="adicionar()">
      Adicionar
  </button>
</div>
























<!-- data binding -->
<!-- interpolação -->
<!-- 2 + 2 = {{2 + 2}} -->
<!-- Meu nome é {{nome}} e tenho {{idade}} anos.

<p>Resultado: {{lancarDado()}}</p> -->
